@import "variables"

.header
  margin: 0
  padding: 0
  width: auto
  height: 49px
.col
  &-left
    text-align: center
    &:hover
      background-color: #edf1f5
    figure
      margin: 6px auto
      img
        height: 36px
        width: 32px
      figcaption
        float: right
        padding-left: 30px
        font-size: 13px
  &-middle
    border-left: 1px solid #D3DAE0
    border-right: 1px solid #D3DAE0
    padding: 0
    .context
      #search
        &.focus
          background-color: #ffffff
        &:hover
          background-color: #edf1f5
        .search-input
          display: block
          position: relative
          width: 88%
          margin: 0 auto
          input
            background: transparent
            border: 0 none
            font: 15px/20px Verdana, "DejaVu Sans", sans-serif
            height: 49px
            outline: none
            position: relative
            width: 97%
            z-index: 10
          &:enabled
            background: #ffff00
          &:disabled
            background: #dddddd
          a
            top: 13px !important
          #search_query
            .clearable
              background: black url("data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=") no-repeat right -10px center
              border: 1px solid #999
              padding: 3px 18px 3px 4px
              transition: background 0.4s
            &.x
              background-position: right 5px center
            &.onX
              cursor: pointer
            &::-ms-clear
              display: none
              width: 0
              height: 0
          #search_placeholder
            position: absolute
            z-index: 5
            color: #cccccc
            left: 0
            top: 0
        select
          background: transparent url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/down4-16.png") no-repeat 60px center
          &::-ms-expand
            display: none
          &::-ms-value
            background: transparent
            color: #000
        .dropdown
          margin: 0 10px
          width: 80px
        i
          font-size: 1.5em
  &-right
    cursor: pointer
    text-align: center
    i
      color: #B5B9C0
      font-size: 2em
      position: relative
      //top: calc(50% - 15px)
      top: 10px
    &:hover
      background-color: #edf1f5
    span
      float: right
select
  -webkit-appearance: none
  -moz-appearance: none
  -o-appearance: none
  & i.fa
    float: right
    margin-top: -30px
    margin-right: 5px
    pointer-events: none
    background-color: #fff
    padding-right: 5px
