@import "variables"

.legend
  line-height: 18px
  color: #555
  width: 260px
  -webkit-transition: width, 0.3s linear
  -moz-transition: width, 0.3s linear
  -ms-transition: width, 0.3s linear
  -o-transition: width, 0.3s linear
  transition: width, 0.3s linear
  .col-12, .col-2, .col-11
    padding: 0
  .col-2
    max-width: 11%
    cursor: pointer
  .col-11
    max-width: 89%
    display: block
    .col-12
      padding: 5px 0
  p
    font-size: 10px
.legendHide
  width: 36px
  -webkit-transition: width, 0.3s linear
  -moz-transition: width, 0.3s linear
  -ms-transition: width, 0.3s linear
  -o-transition: width, 0.3s linear
  transition: width, 0.3s linear
  .colHide
    display: none
.info
  padding: 6px 6px
  font: 14px/16px Arial, Helvetica, sans-serif
  background: white
  background: rgba(255,255,255,0.8)
  box-shadow: 0 0 15px rgba(0,0,0,0.2)
  border-radius: 5px
