.legend
  text-align: left
  line-height: $size + 8
  color: #555
  & i
    width: $size + 8
    height: $size + 8
    float: left
    margin-right: $size - 2
    opacity: 0.7
  & .circle
    border-radius: 50%
    width: $size
    height: $size
    margin-top: $size - 2
