@import "variables"

.legend
  line-height: 18px
  color: #555
  width: 260px
  transition: all, 0.3s linear
  .col-12, .col-2, .col-10
    padding: 0
  .col-2
    max-width: 11%
    cursor: pointer
  .col-10
    max-width: 89%
    .col-12
      padding: 5px 0
  p
    font-size: 10px
.legendHide
  width: 36px
  transition: all, 0.1s linear
  .colHide
    right: -500px
.colHide
  position: absolute
  right: -5px
  transition: all, 0.3s linear
.info
  padding: 6px 6px
  font: 14px/16px Arial, Helvetica, sans-serif
  background: white
  background: rgba(255,255,255,0.8)
  box-shadow: 0 0 15px rgba(0,0,0,0.2)
  border-radius: 5px
