@import "variables"
@import "mixin"

.row
  margin: 0

.navbar
  background-color: #E6EBF0
  padding: 0
  z-index: 25
  &-brand
    margin: 0
    padding: 0

.input-group
  .form-control
    width: 91%
  .form-control, .input-group-btn button
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0

.aside
  z-index: 22
  &-backdrop
    z-index: 20

#search_clear
  a
    margin: 7px 0
    z-index: 2000

.leaflet-control-layers-toggle
  background-image: url(../images/layers.png)

.leaflet-retina .leaflet-control-layers-toggle
  background-image: url(../images/layers-2x.png)

.leaflet-default-icon-path
  background-image: url(../images/marker-icon.png)
