@import "variables"
@import "mixin"

.row
  margin: 0

.navbar
  background-color: #E6EBF0
  padding: 0
  z-index: 25
  &-brand
    margin: 0
    padding: 0

.input-group
  .form-control
    width: 91%
  .form-control, .input-group-btn button
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0

.nav-tabs
  .nav-link
    border-top-right-radius: 0
    border-top-left-radius: 0

#search_clear
  a
    margin: 5px 0
    z-index: 2000

.leaflet-control-layers-toggle
  background-image: url(../images/layers.png)

.leaflet-retina .leaflet-control-layers-toggle
  background-image: url(../images/layers-2x.png)

.leaflet-default-icon-path
  background-image: url(../images/marker-icon.png)

.leaflet-popup-content
  p
    font-size: 1em

.col-middle
  ul
    left: 0 !important
    width: 100% !important

.ui-autocomplete
  max-height: 300px
  overflow-y: auto
  overflow-x: hidden

.feedEkList
  padding: 4px 10px
  .itemTitle
    a
      color: #466ba1 !important
  .itemContent
    p
      font-size: 14px
.ui-widget-header
  margin: 0 !important
  border: 0
.ui
  &.dimmer
    background-color: rgba(0,0,0,.5)
.modal-content
  margin: auto
  top: 30%
//.toggle, .btn-success, .btn-success:hover, .btn-success:active
//  height: 30px !important
//  width: 23% !important
//  background-color: #dddedf
//  border-color: #dddedf
//  margin-left: 5px
//  z-index: 1111111111
//  span
//    background-color: #B5B9C0!important
//  .btn-success, .btn-default,
//  .btn-success:hover, .btn-default:hover
//    background-color: #dddedf
//    border-color: #dddedf
//    color: #000
//  .btn
//    font-size: 12px
//    padding: 5px 3px
