@import "variables"
@import "libs"
@import "progBar"

.leaflet-control-attribution
  display: none

iframe
  border: none

h1
  display: none

p
  font-family: Verdana, Arial, Helvetica, sans-serif
  font-size: 16pt

html, body, #map_canvas
  height: $value
  width: $value

body
  padding: 0
  margin: 0

html
  overflow:  hidden

main
  height: $value

section
  height: $value

.col-middle
  .context
    #search
      outline: 0 none

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 5px 0
  padding: 0

@import "popupPanel"
@import "legend"
@import "map"
@import "images"
@import "header"
@import "aside"


