@import "variables"
@import "mixin"

@include media-breakpoint-between($xl + 79, $xl + 240)  //$xl: 1200px; min: 1280 max: 1441
  #{$search-width}
    width: 87%
  #{$value-font}
    font-size: 8px
  .header
    .col
      &-left
        .navbar-brand
          margin: 0

@include media-breakpoint-between($xl - 177, $xl + 80)  //$xl: 1200px; min: 1024 max: 1281
  #{$search-width}
    width: 86%
  #{$value-font}
    display: none
  .header
    .col
      &-left
        max-width: 6%
        text-align: center
        .navbar-brand
          padding: 0
      &-right
        max-width: 6%

@include media-breakpoint-between($md - 1, $lg + 32)  //$md: 768px  $lg: 992px; min: 768 max: 1025
  #{$search-width}
    width: 78%
  #{$value-font}
    display: none
  .header
    .col
      &-left
        max-width: 6%
        text-align: center
        .navbar-brand
          padding: 0
      &-right
        max-width: 6%

@include media-breakpoint-between($sm - 1, $md) //$sm: 576px  $md: 768px; min: 576 max: 769
  #{$search-width}
    width: 92%
    input
      padding-left: 10px
  #{$value-font}
    display: none
  .header
    .col
      &-left
        max-width: 8%
        text-align: center
        .navbar-brand
          padding: 0
      &-middle
        .dropdown
          display: none
      &-right
        max-width: 8%
  .modal-content
    width: 40%

@include media-breakpoint-between($sm - 257, $sm) //$sm: 576px; min: 320 max: 577
  #{$search-width}
    width: 74%
    input
      padding-left: 10px
  #{$value-font}
    display: none
  .header
    .col
      &-left
        text-align: center
        .navbar-brand
          padding: 0
      &-middle
        .dropdown
          display: none
      &-right
        max-width: 13.2%
  #test
    .in
      min-width: 320px
      .col_2
        a
          font-size: 12px

//@include media-breakpoint-between($sm - 257, $lg + 33)  //$sm: 576px $lg: 992px; min: 320 max: 1025
//  #{$value-font}
//    display: none
//  #{$icon}
//    margin: 0 7px
//  .header
//    .col
//      &-left
//        padding: 0
//        .navbar-brand
//          padding: 0
//      &-right
//        padding: 0